In [1]:
import sqlite3

con = sqlite3.connect('../db/vivino.db')
cursor = con.cursor()

In [50]:
try:
    cursor.execute(
        """
        ALTER TABLE vintages
        ADD COLUMN wineries TEXT;
    """
    )
    con.commit()

    print("Update successful!")
except Exception as e:
    print("Error:", e)
    con.rollback()  # Rollback changes if an error occurs

try:
    cursor.execute(
        """
        UPDATE vintages
        SET wineries = SUBSTR(name, 1, LENGTH(name) - 5)
    """
    )
    con.commit()

    print("Update successful!")
except Exception as e:
    print("Error:", e)
    con.rollback()  # Rollback changes if an error occurs

try:
    cursor.execute(
        """
        ALTER TABLE wines
        ADD COLUMN wineries TEXT;
    """
    )
    con.commit()

    print("Update successful!")
except Exception as e:
    print("Error:", e)
    con.rollback()  # Rollback changes if an error occurs

try:
    cursor.execute(
        """
        UPDATE wines
        SET wineries = (SELECT wineries FROM vintages WHERE vintages.wine_id = wines.id)
    """
    )
    con.commit()

    print("Update successful!")
except Exception as e:
    print("Error:", e)
    con.rollback()  # Rollback changes if an error occurs

try:
    cursor.execute(
        """
        UPDATE wines
        SET wineries = CASE
            WHEN instr(wineries, name) = 0 THEN wineries
            ELSE substr(wineries, 1, instr(wineries, name) - 1) || 
                 substr(wineries, instr(wineries, name) + length(name))
        END
        """
    )
    con.commit()

    print("Update successful!")
    con.commit()

    print("Update successful!")
except Exception as e:
    print("Error:", e)
    con.rollback()  # Rollback changes if an error occurs

Update successful!
Update successful!
Update successful!
Update successful!
Update successful!
Update successful!

In [51]:
try:
    cursor.execute(
        """
        DELETE FROM wineries        
        """
    )
    con.commit()
except Exception as e:
    print("Error:", e)
    con.rollback()  # Rollback changes if an error occurs

try:
    cursor.execute(
        """
        INSERT OR IGNORE INTO wineries (id, name)
        SELECT DISTINCT winery_id, wineries 
        FROM wines
        """
    )
    con.commit()
except Exception as e:
    print("Error:", e)
    con.rollback()  # Rollback changes if an error occurs

try:
    cursor.execute(
        """
        ALTER TABLE wines
        DROP COLUMN wineries
        """
    )
    con.commit()
except Exception as e:
    print("Error:", e)
    con.rollback()  # Rollback changes if an error occurs

try:
    cursor.execute(
        """
        ALTER TABLE vintages
        DROP COLUMN wineries
        """
    )
    con.commit()
except Exception as e:
    print("Error:", e)
    con.rollback()  # Rollback changes if an error occurs

** BOTTOM IS TO CHECK UNIQUE WINERY IDs**

In [40]:
winery_id_from_wines = cursor.execute(
    """
    SELECT DISTINCT winery_id
    FROM wines
    """
).fetchall()

winery_id_from_wineries = cursor.execute(
    """
    SELECT id
    FROM wineries
    """
).fetchall()

print("Length of winery_id_from_wines:", len(winery_id_from_wines))
print("Length of winery_id_from_wineries:", len(winery_id_from_wineries))

Length of winery_id_from_wines: 658
Length of winery_id_from_wineries: 658