In [1]:
import sqlite3

con = sqlite3.connect('../db/vivino.db')
cursor = con.cursor()

In [2]:
try:
    cursor.execute(
        """
        CREATE VIEW country_priority AS
        SELECT c.name, c.users_count
        FROM countries as c
        ORDER BY c.users_count DESC
        LIMIT 1
    """

    )
    con.commit()
    print("view created")
except Exception as e:
    print("Error:", e)
    con.rollback()  # Rollback changes if an error occurs

view created

In [3]:
cursor.execute(
    """
    SELECT * FROM country_priority
"""
).fetchall()

[('États-Unis', 12273684)]

In [19]:
try:
    cursor.execute(
        """
        CREATE VIEW three_grapes_five_wines AS
        WITH top_grapes AS (
            SELECT g.id AS id, g.name AS grape, g.wines_count AS wines_count
            FROM grapes AS g
            ORDER BY g.wines_count DESC
            LIMIT 3
        ),
        ranked_wines AS (
            SELECT w.name AS wine, w.winery_id AS winery_id, w.grape_id, 
                   ROW_NUMBER() OVER(PARTITION BY w.grape_id ORDER BY w.ratings_average DESC) as rn
            FROM wines AS w
        )
        SELECT tg.grape, rw.wine, wi.name AS winery
        FROM top_grapes AS tg
        JOIN ranked_wines AS rw ON tg.id = rw.grape_id
        JOIN wineries AS wi ON rw.winery_id = wi.id
        WHERE rw.rn <= 5
        ORDER BY tg.wines_count DESC, rw.rn
        """
    )
    con.commit()
    print("view created")
except Exception as e:
    print("Error:", e)
    con.rollback()  # Rollback changes if an error occurs

view created

In [20]:
cursor.execute(
    """
    SELECT *
    from three_grapes_five_wines               

"""
).fetchall()

[('Cabernet Sauvignon', 'Cabernet Sauvignon', 'Scarecrow'),
 ('Cabernet Sauvignon', 'IX Estate Red', 'Colgin'),
 ('Cabernet Sauvignon', 'Special Selection Cabernet Sauvignon', 'Caymus'),
 ('Cabernet Sauvignon', 'Harlan Estate Red', 'Harlan Estate'),
 ('Cabernet Sauvignon', 'Book 17 XVII', 'De Toren Private Cellar'),
 ('Chardonnay', 'Chloe Chardonnay', 'DuMOL'),
 ('Chardonnay', 'Reserve Chardonnay', 'Lismore'),
 ('Chardonnay', 'Bentrock Vineyard Chardonnay', 'Racines'),
 ('Chardonnay', 'Chardonnay', 'Capensis'),
 ('Chardonnay', 'Chardonnay', 'Cloudburst'),
 ('Pinot Noir', 'Cristal Rosé Vinothèque', 'Louis Roederer'),
 ('Pinot Noir', 'Batard-Montrachet Grand Cru', 'Pierre Girardin'),
 ('Pinot Noir', 'Collection', 'Krug'),
 ('Pinot Noir', 'Clos du Mesnil', 'Krug'),
 ('Pinot Noir', 'Montrachet Grand Cru', 'Domaine des Comtes Lafon')]

In [18]:
cursor.execute(
    """
    DROP VIEW IF EXISTS three_grapes_five_wines
    """
)
con.commit()